@use "variable";

.container__main {
  width: 100%;
  display: flex;
  flex-direction: column;
   
  //Barra Horizontal 
  .container__bar-horizontal {
    width: 100%;
    background: variable.$system-color;
    height: 4em;
    padding: 1em 1em;
    display: flex;
    flex-direction: row;
    


    .title__homepage{
        display: flex;
        align-items: center;
        font-family: variable.$title-font;
        color: white;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 195px;
    }
    
    
  }
   
  //Barra Vertical
  .container__bar-vertical {
    width: 17%;
    background: variable.$system-color;
    height: calc(100vh - 4em);
   
    
     //Contenedor para el nombre del usuario en la pagina principal
    .container__username-profile {
      display: flex;
      width: 100%;
      gap: 1.3em;
      align-items: center;
      border-bottom: 1.5px solid white;
      border-top: 1.5px solid white;
      padding: 1.5em 1em;

      .main__label-username {
        font-family: variable.$title-font;
        font-size: 1.2em;
        color: white;

       
      }
    }
     
    //Contenedor para las opciones principales 
    .container__menu { 
      display: flex;
      gap: 0.8em;
      align-items: center;
      padding: 1.2em 1em;

      &:hover .main__icon     {
        cursor: pointer;
        color:rgb(228, 199, 199);
      }
      
      
      &:hover .main__label-menu     {
        cursor: pointer;
        color:rgb(228, 199, 199);
      }


      &:hover    {
        cursor: pointer;
        background: #155bff;
      }

    }
     
    //
    .container__menu-contacts { 
      display: flex;
      gap: 0.8em;
      align-items: center;
      padding: 1.2em 1em;


    }

    //Contenedor para la opcion de salir
    .container__menu-exit {
      display: flex;
      gap: 0.8em;
      align-items: center;
      padding: 1.2em 1em;
      border-top: 1.5px solid white;

      
      &:hover .main__icon     {
        cursor: pointer;
        color:rgb(228, 199, 199);
      }
      
      
      &:hover .main__label-menu     {
        cursor: pointer;
        color:rgb(228, 199, 199);
      }


      &:hover    {
        cursor: pointer;
        background: #155bff;
      }

      

    }


     //Diseno para los textos de los menus
    .main__label-menu {
      font-family: variable.$title-font;
      font-size: 1.1em;
      color: white;
      transition: all 300ms;

    }

   
  }
   //Diseno de los iconos
  .main__icon{
    color: white;
    transition: all 300ms;

    
      &:hover  {
        cursor: pointer;
        color: rgb(228, 199, 199);
     
      }


}
}
