/*Colors*/
$system-color:#3369e7;
$text-color:  rgb(160, 155, 155);


/*Fonts / typography*/
$title-font : 'McLaren',cursive;
$sub-title-font : 'Koulen', cursive;
$text-font:  'Varela', sans-serif;

/*Font Size*/


