/*Colors*/
$system-color:#3369e7;
$text-color:  rgb(160, 155, 155);


/*Fonts / typography*/
$title-font : 'McLaren',cursive;
$sub-title-font : 'Koulen', cursive;
$text-font:  'Varela', sans-serif;

/*Resetear las configuraciones*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: 0;
	box-sizing: border-box;
}

